# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
    user_has_profile: false

services:
    user.security.login_form_authenticator:
        class: AppBundle\Security\LoginFormAuthenticator
        arguments: ['@form.factory', '@doctrine.orm.entity_manager', '@router', '@security.user_password_encoder.generic', '%user_has_profile%']

    user.doctrine.hash_password_listener:
        class: AppBundle\Doctrine\HashPasswordListener
        autowire: true
        tags:
            - { name: doctrine.event_subscriber }

    user.token_generator:
        class: AppBundle\Service\TokenGenerator
        autowire: true

    user.mailer:
        class: AppBundle\Service\Mailer
        autowire: true
        arguments: ['@swiftmailer.mailer', '@router', '@twig', '@monolog.logger', '%mailer_noreply%']
