# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:

services:
    user.security.login_form_authenticator:
        class: AppBundle\Security\LoginFormAuthenticator
        autowire: true

    user.security.facebook_authenticator:
            class: AppBundle\Security\FacebookAuthenticator
            autowire: true

    user.security.google_authenticator:
            class: AppBundle\Security\GoogleAuthenticator
            autowire: true

    user.doctrine.hash_password_listener:
        class: AppBundle\Doctrine\HashPasswordListener
        autowire: true
        tags:
            - { name: doctrine.event_subscriber }

    user.token_generator:
        class: AppBundle\Service\TokenGenerator
        autowire: true

    user.mailer:
        class: AppBundle\Service\Mailer
        autowire: true
        arguments: ['@swiftmailer.mailer', '@router', '@twig', '@monolog.logger', '%mailer_noreply%']
