{% extends 'UserBundle:email:email-layout.html.twig' %}

{% block body_text %}
    Click here to reset your password: {{ resetPasswordUrl }}
{% endblock %}

{% block body_html_content %}
    Click <a href="{{ resetPasswordUrl }}" target="_blank">here</a> to reset your password
{% endblock %}